<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- Add your CSS and JavaScript links here -->
</head>
<body>
<header>
    <!-- Add your header content here -->
</header>

<main>
    {{{body}}} <!-- This is where the content of individual views will be injected -->
</main>

<footer>
    <!-- Add your footer content here -->
</footer>
</body>
</html>
